/* src/App.css */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

.App-header {
  background-color: black; /* Sets the background to black */
  color: white; /* Sets the text color to white */
  font-size: 16px; /* Sets a smaller font size, adjust as needed */
  margin: 0; /* Removes any default margin */
  width: 100%; /* Ensures the header extends the full width of the screen */
  text-align: center; /* Centers the text horizontally */
}

.App-content {
  flex-grow: 1; /* Allows this element to take up the remaining space */
  display: flex; /* Makes it a flex container */
}

.App-footer {
  background-color: #282c34;
  padding: 20px 0;
  color: white;
}

/* src/App.css */
.undo-icon {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 10px;
}

.undo-icon:hover {
  color: green; /* Example hover effect */
}